*, *::before,*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.theme-toogle .fa-moon{
    display: none;
}

.theme-toogle .fa-sun{
    display: inline;
}
